.MSC_010100 {
  .align_right {
    display: flex;
  }
  .exm_state {
    // padding: 14px 21px 21px 21px;
    .chart {
      width: 410px;
      height: 235px;
    }
    .grid {
      height: 445px;
    }
  }
}
