.MSC_060200 {
  .align_left {
    width: 450px;

    .pt_search {
      width: 100px;
    }
  }
  .print_box {
    height: auto;
    margin-bottom: 10mm;
  }
  .inbx-pre-wrap {
    white-space: pre-wrap;
  }
}
